body {
    margin: 0;
    padding: 0;
    background-image: url('./assets/main_bg.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    box-sizing: border-box;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.key {
    width: 90px;
    height: 90px;
    border: 5px solid black;
    border-radius: 5px;
    margin-right: 50px;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 0.5rem black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.active_key {
    transform: scale(1.1);
    border-color: yellow;
    box-shadow: 0 0 10px yellow;
}

.main_key {
    font-size: 30px;
}

.secondary_key {
    font-size: 15px;
    color: yellow;
    font-family: sans-serif;
}